<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}</br></br>
    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h2>Importer un nouveau fichier</h2></br>

            <form action="/votre-action-de-telechargement" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileInput">Choisir un fichier :</label>
                    <input type="file" class="form-control-file" id="fileInput" name="file">
                </div>

                <button type="submit" class="btn btn-primary" id="downloadButton" disabled><i class="ri-download-fill"></i>&nbsp; Télécharger</button>
            </form>
        </div>
    </div>

    <!-- Ajoutez ici vos liens vers les fichiers JavaScript nécessaires, si vous en avez -->
    <script>
        // Activer le bouton de téléchargement lorsque l'utilisateur choisit un fichier
        document.getElementById('fileInput').addEventListener('change', function() {
            document.getElementById('downloadButton').removeAttribute('disabled');
        });
    </script>
</body>
</html>
